.cards {
  position: absolute;
  left: 0;
  top: 0;

  &_col {
    &:nth-child(4n+2) {
      padding-top: $container-margin-y*4;
    }
  }

  &--hover {
    .card {
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
