.circle {
  width: calc((100% + #{$grid-gutter}) / 12 - #{$grid-gutter});
  height: auto;
  padding-top: calc((100% + #{$grid-gutter}) / 12 - #{$grid-gutter});
  border-radius: 50%;
  background-color: var(--yellow);
  transform: scale(0);

  &.is-inview {
    animation: circle-pop 1.5s cubic-bezier(0, 0, 0.01, 1.01) forwards;
  }
}

@keyframes circle-pop {
  from {
    transform: scale(0);
  }
  15% {
    transform: scale(1.3);
  }
  25% {
    transform: scale(.9);
  }
  40% {
    transform: scale(1.05);
  }
  70%, to {
    transform: scale(1);
  }
}
