.circle {
  width: calc((100% + #{$grid-gutter}) / 12 - #{$grid-gutter});
  height: auto;
  padding-top: calc((100% + #{$grid-gutter}) / 12 - #{$grid-gutter});
  border-radius: 50%;
  background-color: var(--yellow);
}
