.circle-flag {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $grid-gutter*2;
  background-color: var(--dark);
  color: white;
  font-size: 18px;
  display: none;

  &--show {
    display: block;
  }

  &_content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(100%, -50%, 0);
    white-space: nowrap;
    animation: flag-scroll linear 45s infinite;
  }

  &_order {
    padding-right: 2em;
  }
}

@keyframes flag-scroll {
  from {
    transform: translate3d(100%, -50%, 0);
  }
  to {
    transform: translate3d(0%, -50%, 0);
  }
}
