.circle {
  $w: calc(100% / 12 - #{$grid-gutter});
  width: $w;
  height: auto;
  padding-top: $w;
  border-radius: 50%;
  background-color: var(--yellow);
  transform: scale(0);
  pointer-events: auto;

  &.is-inview {
    animation: circle-pop 1.5s cubic-bezier(0, 0, 0.01, 1.01) forwards;
  }

  &--delayed {
    &.is-inview {
      animation-delay: 1s;
    }
  }
}

@include query-mobile {
  .circle {
    $w: calc(100% / 4 - #{$grid-gutter});
    width: $w;
    padding-top: $w;
  }
}

@keyframes circle-pop {
  from {
    transform: scale(0);
  }
  15% {
    transform: scale(1.3);
  }
  25% {
    transform: scale(.9);
  }
  40% {
    transform: scale(1.05);
  }
  70%, to {
    transform: scale(1);
  }
}
