$columns_count: 8;
@for $i from 1 through $columns_count {
  @include query-desktop {
    .col-offset-#{$i} {
      margin-left: calc(100% / #{$columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-#{$i} {
      width: calc(100% / #{$columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-left-#{$i} {
      left: calc(100% / #{$columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-right-#{$i} {
      right: calc(100% / #{$columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
  }
}

$mobile_columns_count: 4;
@include query-mobile {
  @for $i from 1 through $mobile_columns_count {
    .col-m-offset-#{$i} {
      margin-left: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-m-#{$i} {
      width: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-m-left-#{$i} {
      left: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-m-right-#{$i} {
      right: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
  }
}
