.debug-grid {
  position: fixed !important;
  z-index: 99999;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100% - #{$container-margin} * 2);

  .row {
    height: 100%;

    .col-1, .col-3, .col-6 {
      height: 100%;
      background-color: rgb(243, 98, 92, .3);
    }
  }
}

$columns_count: 12;
@for $i from 1 through $columns_count {
  $col-width: calc(100% / #{$columns_count/$i} - #{$grid-gutter});
  $width: calc((100% + #{$grid-gutter}) / #{$columns_count/$i} - #{$grid-gutter});
  $padding: calc((100% + #{$grid-gutter}) / #{$columns_count/$i});
  $gutter: $grid-gutter/2;

  @include query-desktop {
    .col-#{$i} {
      width: $col-width;
      margin-left: $gutter;
      margin-right: $gutter;
    }
    .padding-left-#{$i} {
      padding-left: $padding;
    }
    .margin-left-#{$i} {
      margin-left: $padding;
    }
    .width-#{$i} {
      width: $width;
    }
  }
}

$mobile_columns_count: 4;
@include query-mobile {
  @for $i from 1 through $mobile_columns_count {
    .col-m-offset-#{$i} {
      margin-left: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-m-#{$i} {
      width: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-m-left-#{$i} {
      left: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
    .col-m-right-#{$i} {
      right: calc(100% / #{$mobile_columns_count/$i});
      padding-left: $grid-gutter/2;
      padding-right: $grid-gutter/2;
    }
  }
}
