.container {
  position: relative;
  margin-left: $container-margin;
  margin-right: $container-margin;
}

@include query-mobile {
  .container {
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
  }
}
