.figure {
  text-align: center;
  margin-right: 0;
  margin-left: 0;

  &_link {
    display: block;
    overflow: hidden;
    margin-bottom: 1.5em;
  }

  &_date {
    font-style: italic;
  }

  .img {
    transition: transform ease-in-out 1s;
  }

  &:hover .img {
    transform: scale(1.1);
  }
}
