.figure {
  text-align: center;
  margin-right: 0;
  margin-left: 0;

  &_link {
    display: block;
    overflow: hidden;
    margin-bottom: 1.5em;

    transition: .3s ease-in-out filter;
  }

  &_date {
    font-style: italic;
  }

  .img {
    transition: transform ease-in-out 1s;
  }

  &:hover .img {
    transform: scale(#{$img-hover-zoom});
  }
}

@include query-mobile {
  .figure {
    margin-bottom: 2em;
  }
}
