header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: $grid-gutter*2;
}

.header {
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_center {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &_separator {
    width: 25px;
    height: 1px;
    margin: 9px 10px 8px 6px;
    border-bottom: solid 1px var(--dark);
  }

  &_nav {
    display: flex;

    &_item:not(:last-child) {
      margin-right: 1em;
    }
  }

  &_side {
    position: fixed;
    top: 10em;
    right: -.4em;
    overflow: hidden;
    transform: rotate(-90deg);
    width: 120px;
    white-space: nowrap;

    &_content {
      display: block;
      position: relative;
      animation: header-side-first 5s linear infinite;

      &_last {
        padding-left: 1em;
      }
    }
  }
}

@keyframes header-side-first {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-160%);
  }
}
