.icon {
  display: inline-block;
  position: relative;
  background: center /contain no-repeat;
  transform: translateY(20px);
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: $timing;
  transition-property: transform, opacity;

  &--emoji {
    width: 4em;
    height: 4em;
    top: -1.5em;
    left: 67%;
    background-image: url(/src/assets/images/_items/emoji.png);
  }

  &--flag-it {
    left: 35%;
    top: -3em;
    width: 3em;
    height: 3em;
    z-index: 2;
    background-image: url(/src/assets/images/_items/italie.png);
  }

  &--flag-po {
    left: 39.5%;
    top: -7.5em;
    width: 3em;
    height: 3em;
    background-image: url(/src/assets/images/_items/pologne.png);
  }
}

.is-inview .icon {
  opacity: 1;

  &--emoji {
    transform: rotate(20deg);
  }

  &--flag-it {
    transform: rotate(-15deg);
  }

  &--flag-po {
    transform: rotate(10deg);
  }
}
