.img {
  overflow: hidden;
  position: relative;
  z-index: -1;

  &_img {
    opacity: 0;
  }

  &--light-grey {
    background-color: var(--light-grey);
  }

  &.is-inview {
    .img_img {
      animation: img-reveal 1.5s forwards;
    }
  }
}

@keyframes img-reveal {
  from {
    opacity: 0;
    transform: scale(1.1) translate3d(10px, 10px, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
