.img {
  overflow: hidden;
  position: relative;
  max-height: 100vh;
  z-index: 0;

  &_img {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--light-grey {
    background-color: var(--light-grey);
  }

  &--width-auto {
    .img_img {
      width: auto;
    }
  }

  &.is-inview {
    .img_img {
      animation: img-reveal 1.5s forwards;
    }
  }
}

[darkmode] {
  .img {
    background-color: var(--darkmode-img-blend-mode);
  }
}

@keyframes img-reveal {
  from {
    opacity: 0;
    transform: scale(1.1) translate3d(10px, 10px, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
