ul.list {
  margin-top: 2em;

  li {
    &:first-child {
      border-top: solid 1px var(--dark);
    }

    border-bottom: solid 1px var(--dark);
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@include query-mobile {
  ul.list {
    margin-top: 1em;
    li {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}
