ul.list {
  margin-top: 2em;

  li {
    &:first-child {
      border-top: solid 1px var(--dark);
    }

    border-bottom: solid 1px var(--dark);
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
