ul.list {
  margin-top: 2em;

  .list_item {
    opacity: 0;
    transform: translateX(-10px);

    &:first-child {
      border-top: solid 1px var(--dark);
    }

    border-bottom: solid 1px var(--dark);
    padding-top: 2em;
    padding-bottom: 2em;

    &.is-inview {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 1s, transform 1s $timing;
    }
  }
}

@include query-mobile {
  ul.list {
    margin-top: 1em;

    .list_item {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}
