.modal {
  z-index: 100;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;

  &_bg {
    z-index: -1;
    opacity: 0;
    background-color: var(--dark);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity .5s $timing;
  }

  &_close {
    position: absolute;
    top: $grid-gutter*2;
    right: $grid-gutter*2;
    width: $grid-gutter;
    height: $grid-gutter;
    background: url('/src/assets/images/_items/close.svg') center /contain no-repeat;
  }

  &_content {
    height: 80vh;

    &--animate {
      will-change: transform;
      transition: $timing 1s;

      .modal_card {
        transition: transform $timing 1.5s;
        transition-delay: .75s;
        transform: rotateY(180deg)
      }
    }
  }

  &_card {
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    width: 100%;

    &_face {
      border-radius: 7px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      background: center /cover no-repeat;

      &--back {
        background-image: url(/src/assets/images/_img/card_verso.jpg);
        transform: rotateY(180deg);
      }

      &--front {
        background-image: url(/src/assets/images/_img/card.jpg);
      }
    }
  }

  &--open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    .modal_bg {
      opacity: .9;
    }
  }
}

@include query-mobile {
  .modal {
    &_content {
      height: 66vh;
    }

    &_close {
      top: 2em;
      right: 2em;
    }
  }
}

[darkmode] {
  .modal_bg {
    background-color: $dark;
  }
}
