.next-project-link {
  display: block;
  position: relative;
  margin-top: 10em;
  margin-bottom: -5em;
  overflow: hidden;
  max-height: 262px;

  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .img {
    transition: transform ease-in-out 1s;
  }

  &:hover .img {
    transform: scale(#{$img-hover-zoom});
  }
}

[darkmode][circle] .next-project-link_content p {
  color: white;
}
