.next-project-link {
  display: flex;
  position: relative;
  margin-top: 10em;
  margin-bottom: -5em;
  background-color: var(--dark);
  height: 262px;
  justify-content: center;
  align-items: center;
}

@include query-mobile {
  .next-project-link {
    margin-top: 3em;
    margin-bottom: 3em;
    height: 146px;
  }
}

[darkmode] .next-project-link_content p {
  color: $dark;
}
