.next-project-link {
  display: flex;
  position: relative;
  margin-top: 10em;
  margin-bottom: -5em;
  background-color: var(--dark);
  height: 262px;
  justify-content: center;
  align-items: center;
}

[darkmode][circle] .next-project-link_content p {
  color: white;
}
