.no-js {
  position: fixed;
  z-index: $z-index-cursor - 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 5em;
  opacity: 0;
  animation: fade-in forwards;
  animation-delay: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pink);
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
