.row {
  margin-left: -$grid-gutter/2;
  margin-right: -$grid-gutter/2;

  // https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-inline-block-elements
  font-size: 0;

  &--inline {
    > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}
