.socials {
  &_list {
    padding-left: 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      height: 1px;
      width: 10px;
      border: solid 1px #131313;
    }

    &_item {
      margin-bottom: .25em;
    }
  }
}
