.spy {
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  width: 64px;
  height: 64px;
  transform: translate3d(-2px, -18px, 0);
  background: url('/src/assets/images/_items/cursor.png') center /contain no-repeat;
}
