.spy {
  z-index: $z-index-cursor;
  pointer-events: none;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
  background: url('/src/assets/images/_items/cursor.png') center /contain no-repeat;
  transform: translate3d(0, 0, 0);
  will-change: transform;

  &--hidden {
    display: none;
  }

  &--hover {
    background-image: url('/src/assets/images/_items/cursor-survol.png')
  }

  &--click {
    background-image: url('/src/assets/images/_items/cursor-clic.png')
  }
}
