.testimonial {
  position: relative;
  display: block;

  &_img {
    filter: grayscale(1);
    opacity: .7;
  }

  &_quote {
    display: none;
  }

  &--first {
    left: calc(-50% - 12.5px);
  }

  &--last {
    right: calc(-50% - 12.5px);
  }

  &-0 {
    margin-top: 12em;
  }

  &-1 {
    margin-top: 20em;
  }

  &-2 {
    margin-top: 0;
  }

  &-3 {
    margin-top: 22em;
  }

  &-4 {
    margin-top: 6em;
  }

  &-5 {
    margin-top: 12em;
  }

  &-6 {
    margin-top: 6em;
  }
}
