.testimonial {
  position: relative;
  display: block;
  background: var(--light-grey);

  &:hover &_img {
    transform: scale(#{$card-hover-zoom});
  }

  &_img {
    filter: grayscale(1);
    opacity: .7;
    transition: .3s ease-in-out filter, .3s ease-in-out opacity, .5s ease-in-out transform;
  }

  &_quote {
    display: none;
  }

  &--first {
    left: calc(-50% - 12.5px);
  }

  &--last {
    right: calc(-50% - 12.5px);
  }

  &-0 {
    margin-top: 12em;
  }

  &-1 {
    margin-top: 20em;
  }

  &-2 {
    margin-top: 0;
  }

  &-3 {
    margin-top: 22em;
  }

  &-4 {
    margin-top: 6em;
  }

  &-5 {
    margin-top: 12em;
  }

  &-6 {
    margin-top: 6em;
  }
}
