.testimonials {
  &_header {
    pointer-events: none;
    height: 100vh;
    opacity: 0;
    animation: fade-in-2 .5s forwards .1s;

    .separator {
      transform: scaleX(0);
      animation: separator-2 1s forwards .3s;
    }
  }

  &_name, &_quote, .quote-icon {
    display: none;
  }

  &_default-content, &_quote {
    .title-animation {
      display: block
    }
  }

  &--hover {
    .testimonials {
      &_header {
        opacity: 0;
        animation: fade-in .5s forwards .1s;

        .separator {
          transform: scaleX(0);
          animation: separator 1s forwards .3s;
        }
      }

      &_default-content {
        display: none;
      }

      &_name, &_quote {
        display: block;
      }

      &_name {
        opacity: 0;
        animation: fade-in .5s forwards 1s;
      }
    }

    .quote-icon {
      display: block;
      opacity: 0;
      animation: fade-in .5s forwards .35s;
    }

    .testimonial_img {
      opacity: .15;
      transform: scale(#{$card-hover-zoom-out});

      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }
}

@include query-mobile {
  .testimonials {
    &_header {
      height: auto;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes separator {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes separator-2 {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
