.testimonials {
  &_header {
    pointer-events: none;
    height: 100vh;
  }

  &_name, &_quote {
    display: none;
  }

  .quote-icon {
    display: none;
  }

  &_default-content, &_quote {
    height: 33vh;
  }

  &--hover {
    .testimonials {
      &_default-content {
        display: none;
      }

      &_name, &_quote {
        display: block;
      }
    }

    .quote-icon {
      display: block;
    }

    .testimonial_img {
      opacity: .15;
      transform: scale(#{$card-hover-zoom-out});

      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }
}
