.title-animation {
  overflow: hidden;

  &_content {
    transform: translateY(110%);
  }

  &:nth-child(odd) {
    transform: rotate(5deg);

  }

  &:nth-child(even) {
    transform: rotate(-5deg);
  }

  &, &_content {
    display: inline-block;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: $timing;
  }
}

.is-inview > .title-animation {
  transform: none !important;

  .title-animation_content {
    transform: none;
  }
}
