.inspiration {
  .circle-canvas--main {
    background-color: var(--pink);
  }

  .text-color--pink {
    color: white !important;
  }

  .img--light-grey {
    background-color: var(--pink);
  }
}

[darkmode] {
  .circle-canvas--main {
    background-color: var(--light-grey);
  }

  .img--light-grey {
    background-color: $light-grey;
  }
}
