.inspiration {
  .circle-canvas--main {
    background-color: var(--pink);
  }

  .text-color--pink {
    color: white !important;
  }
}

[darkmode] .circle-canvas--main {
  background-color: var(--light-grey);
}
