html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: SuisseIntl, "sans-serif";
  background-color: var(--light-grey);
  color: var(--dark);
  font-size: 14px;
  font-display: swap;
}

img {
  width: 100%;
  max-width: 100%;
  mix-blend-mode: multiply;
  transform: translate3d(0, 0, 0);
}

.img-auto {
  width: auto;
}

svg {
  pointer-events: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}
::selection { background-color: var(--yellow) }
