footer.container(data-scroll data-scroll-section)
  - const { footer: {title, link, name, img} } = htmlWebpackPlugin.options
  .row
    .col-offset-8.col-4.col-m-offset-1.col-m-3
      a.next-project-link(href=`/${link}`)
        .next-project-link_content
          p.text-paragraph.text-color--white.text-aligned--center
            | Page suivante
          p.text-h4.text-color--white.text-aligned--center=title
  .row
    .col-5.col-m-3
      .separator
  .row
    .col-3.mb-1.col-m-4
      p.text-h1.text-color--pink(data-scroll)
        span.title-animation
          span.title-animation_content Say
      p.text-h1(data-scroll).hidden
        span.title-animation
          span.title-animation_content hello!
    .col-2.col-m-3.mt-m-3.mb-m-3
      p Pour nous connaître et nous rencontrer, pour nous parler ou parler de nous.
  .row
    .col-4.hidden-m
      p.text-h1(data-scroll)
        span.title-animation
          span.title-animation_content hello!
    .col-2.col-m-4
      nav.socials
        ul.socials_list
          li.socials_list_item
            a.hover.text-paragraph(href="https://www.facebook.com/studio.circule/" target="_blank") Facebook
          li.socials_list_item
            a.hover.text-paragraph(href="https://www.instagram.com/studio.circule/" target="_blank") Instagram
    //TODO: error when including mixin
    .circle(data-scroll).hidden-m
  .row.hidden-m
    .col-12
      p.text-aligned--right ©2020
