footer.container(data-scroll-section)
  - const { footer: {title, link} } = htmlWebpackPlugin.options
  .row
    .col-offset-8.col-4
      a.next-project-link(href=link)
        //TODO: error when including mixin
        .img(data-scroll).img--light-grey
          img.img_img(src=require("../../assets/images/_img/next_page.jpg"))
          canvas.circle-canvas.circle-canvas--img(data-scroll)
        .next-project-link_content
          p.text-paragraph.text-color--white.text-aligned--center
            | Page suivante
          p.text-h4.text-color--white.text-aligned--center=title
  .row
    .col-5
      .separator
  .row
    .col-3.mb-1
      p.text-h1.text-color--pink Say
    .col-2
      p Pour nous connaître et nous rencontrer, pour nous parler ou parler de nous.
  .row
    .col-4
      p.text-h1 hello!
    .col-1
      nav.socials
        ul.socials_list
          li.socials_list_item
            a.text-paragraph(href="#") Facebook
          li.socials_list_item
            a.text-paragraph(href="#") Twitter
          li.socials_list_item
            a.text-paragraph(href="#") Instagram
          li.socials_list_item
            a.text-paragraph(href="#") LinkedIn
    //TODO: error when including mixin
    .circle(data-scroll)
  .row
    .col-12
      p.text-aligned--right ©2020
