footer.container(data-scroll-section)
  .separator
  h1
    span.text-color--pink Say
    |  hello!
  p Pour nous connaître et nous rencontrer, pour nous parler ou parler de nous.
  nav
    ul
      li
        a(href="#") Facebook
      li
        a(href="#") Twitter
      li
        a(href="#") Instagram
      li
        a(href="#") LinkedIn
  .circle
  p ©2020
