footer.container
  h1 Say hello!
  p Pour nous connaître et nous rencontrer, pour nous parler ou parler de nous.
  nav
    ul
      li
        a(href="#") Facebook
      li
        a(href="#") Twitter
      li
        a(href="#") Instagram
      li
        a(href="#") LinkedIn
  p ©2020
