header.fade-in
  .container.header_wrap
    .header_left
    .header_center
      p.text-link Paris
      .header_separator
      p.text-link.header_paris-time
    .header_right
      nav
        ul.header_nav
          li.header_nav_item
            a.hover.text-link(href="/about.html") About
          li.header_nav_item
            a.hover.text-link(href="/temoignages.html") Témoignages
          li.header_nav_item
            a.hover.text-link(href="/inspiration.html") Inspiration
          li.header_nav_item.header_soon
            a.hover.text-link(href="#") Shop
          li.header_nav_item
            button.darkmode_cta
  .header_side.header_soon
    .header_side_wrap
      a.header_side_content.text-link(href="#")
        span booking booking booking
        span.header_side_content_last booking booking booking

