header
  .container.header_wrap
    .header_left
      a.text-link(href="/") .CIRCULE
    .header_center
      p.text-link Paris
      .header_separator
      p.text-link 14:14
    .header_right
      nav
        ul.header_nav
          li.header_nav_item
            a.text-link(href="/about") About
          li.header_nav_item
            a.text-link(href="/temoignages") Témoignages
          li.header_nav_item
            a.text-link(href="/inspiration") Inspiration
          li.header_nav_item
            a.text-link(href="#") Shop
          li.header_nav_item
            a.text-link(href="#") •
  .header_side
    a.text-link(href="#") Booking lorem

