header.container
  p.text-link .CIRCULE
  p.text-link ParIs
  p.text-link 14:14
  nav
    ul
      li
        a(href="#") About
      li
        a(href="#") About
      li
        a(href="#") About
      li
        a(href="#") About
      li
        a(href="#") About
  a(href="#") Booking lorem

