header.header.fade-in
  .container.header_wrap.hidden-m
    .header_left
    .header_center
      p.text-link Paris
      .header_separator
      p.text-link.header_paris-time
    .header_right
      nav
        ul.header_nav
          li.header_nav_item
            a.hover.text-link(href="/about") About
          li.header_nav_item
            a.hover.text-link(href="/temoignages") Témoignages
          li.header_nav_item
            a.hover.text-link(href="/inspiration") Inspiration
          li.header_nav_item.header_soon
            a.hover.text-link(href="#") Shop
          li.header_nav_item
            button.darkmode_cta
  .header_side.hidden-m
    .header_side_wrap
      a.header_side_content.text-link(href="/booking")
        span booking booking booking
        span.header_side_content_last booking booking booking
  .container.hidden
    .header_mobile.row
      .col-m-1
        .header_mobile_burger
      .col-m-2
        a.header_mobile_home-link.text-link(href="/") .CIRCULE
      .col-m-1
        button.darkmode_cta

