header
  .container.header_wrap
    .header_left
      p.text-link .CIRCULE
    .header_center
      p.text-link ParIs
      .header_separator
      p.text-link 14:14
    .header_right
      nav
        ul.header_nav
          li.header_nav_item
            a.text-link(href="#") About
          li.header_nav_item
            a.text-link(href="#") Témoignages
          li.header_nav_item
            a.text-link(href="#") Inspiration
          li.header_nav_item
            a.text-link(href="#") Shop
          li.header_nav_item
            a.text-link(href="#") •
  .header_side
    a.text-link(href="#") Booking lorem

