header
  .container.header_wrap
    .header_left
      a.text-link(href="/") .CIRCULE
    .header_center
      p.text-link Paris
      .header_separator
      p.text-link.header_paris-time
    .header_right
      nav
        ul.header_nav
          li.header_nav_item
            a.text-link(href="/about") About
          li.header_nav_item
            a.text-link(href="/temoignages") Témoignages
          li.header_nav_item
            a.text-link(href="/inspiration") Inspiration
          li.header_nav_item
            a.text-link(href="#") Shop
          li.header_nav_item
            button.darkmode_cta
  .header_side
    a.header_side_content.text-link(href="#")
      span Donnez-moi du contenu
      span.header_side_content_last Donnez-moi du contenu

