include ../components/circle

.menu-mobile
  .menu-mobile_wrap
    .container
    .container
      .menu-mobile_content.row
        nav.col-m-4
          ul.menu-mobile_nav
            li.menu-mobile_nav_item
              a.text-link.text-color--white(href="/about.html") About
            li.menu-mobile_nav_item
              a.text-link.text-color--white(href="/temoignages.html") Témoignages
            li.menu-mobile_nav_item
              a.text-link.text-color--white(href="/inspiration.html") Inspiration
            li.menu-mobile_nav_item.header_soon
              a.text-link.text-color--white(href="#") Shop
            li.menu-mobile_nav_item
              .menu-mobile_scroll
                .menu-mobile_scroll_wrap
                  a.menu-mobile_scroll_content.text-link.text-color--white(href="#")
                    span booking booking booking
                    span.menu-mobile_scroll_last booking booking booking
    .container
      .menu-mobile_footer
        p.text-link.text-color--white Paris
          .menu-mobile_footer_separator
          p.text-link.text-color--white.header_paris-time
