extends views/layouts/view

block content
  - var { content } = htmlWebpackPlugin.options
  section.container.section--light-grey.post
    .row
      .col-12
        a.post_back-link(href="#") Retour
    .row
      .col-1.circle.aligned-bottom
      .col-offset-3.col-6
        h1.post_header.text-callout Pellentesque et dictum diam Lorem ipsum dolor sim ame ctetur adipiscing elil.
    .row
      .col-offset-4.col8
        p.post_date 12 juillet
    .row
      .col-2
        p.mt-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consectetur distinctio, dolor doloremque esse exercitationem in incidunt ipsum, itaque, magnam nam non nostrum optio reiciendis tempora ut? Eligendi, necessitatibus?
      .post_content.col-offset-2.col-8
        .separator.separator--big
        p=content
