extends views/layouts/view

block content
  section.container.section--light-grey.post
    .row
      .col-12
        a.post_back-link(href="#") Retour
    .row
      .col-1.circle.aligned-bottom
      .col-offset-3.col-6
        h1.post_header.text-callout Pellentesque et dictum diam Lorem ipsum dolor sim ame ctetur adipiscing elil.
    .row
      .col-offset-4.col8
        p.post_date 12 juillet
    .row
      .col-2
        p.mt-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consectetur distinctio, dolor doloremque esse exercitationem in incidunt ipsum, itaque, magnam nam non nostrum optio reiciendis tempora ut? Eligendi, necessitatibus?
      .post_content.col-offset-2.col-8
        .separator.separator--big
        img(src=require("./assets/images/_img/_inspiration/erik-mclean-FgFCsLRnCVY-unsplash.jpg"))
        p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae, Pellentesque ut laoreet neque, non faucibus nunc
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu pulvinar eros, vel vestibulum mauris. Maecenas quis scelerisque arcu, in convallis metus. Vivamus venenatis lorem in enim aliquam, at aliquam diam convallis. Sed luctus lacinia leo, ac convallis tortor sagittis in. Donec at placerat risus, sit amet fermentum ante. Aenean fringilla tortor quis metus sodales pretium. In sit amet molestie lorem. Ut placerat, lectus eu rhoncus pulvinar, arcu urna auctor ex, in venenatis urna nisi non ipsum. Integer maximus dignissim vulputate.
        p Fusce cursus libero risus, mattis venenatis sem scelerisque ac. Maecenas tincidunt dignissim velit, sit amet hendrerit lorem dictum rutrum. Integer vestibulum ligula augue,
        img(src=require("./assets/images/_img/_inspiration/erik-mclean-FgFCsLRnCVY-unsplash.jpg"))
        p Sed posuere, neque non laoreet tempor, metus ante rhoncus dolor, vel finibus turpis erat sit amet lorem. Nam non risus mauris. Proin a ornare urna. Cras a ante eu velit consectetur scelerisque vitae et felis. Sed ac neque ultrices, posuere sapien at, iaculis tellus. Morbi sollicitudin congue pellentesque. Aliquam eu leo non velit auctor ullamcorper vitae et quam. Proin viverra nunc ut viverra suscipit. Quisque at gravida velit. Vestibulum ut magna rutrum, iaculis metus ultrices, cursus augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur id hendrerit tellus. Aenean eget posuere odio.
        p Sed posuere ligula ut faucibus venenatis. Nam pellentesque tristique tellus, non euismod magna congue vitae. Suspendisse vestibulum suscipit lorem, sit amet scelerisque arcu congue non. Nunc sed nibh consequat, congue sapien vitae, mollis risus. Duis fermentum vestibulum sem. Suspendisse lorem mi, suscipit nec nibh quis, sagittis lobortis nunc. Curabitur sed dui scelerisque, dapibus metus et, rhoncus tellus. Pellentesque non odio id turpis posuere dignissim.
