extends views/layouts/view

block content
  section.container(data-scroll-section)
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim eum harum hic incidunt ipsum laborum nihil officia possimus quidem repellat sequi, soluta. Dolores facere neque numquam sequi totam, voluptate?
