extends views/layouts/view
include views/components/post

block content
  - const { posts } = htmlWebpackPlugin.options
  section.container.section--pink.section--inspiration
    .row
      .col-offset-4.col-8
        h1.section_header Inspiration
    .row
      .col-2
        p.mt-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi architecto aut delectus deleniti dolor, enim error facere, fugiat fugit in incidunt laudantium magni numquam pariatur quaerat sapiente ullam voluptates!
      .col-offset-2.col-8
        .separator.separator--big
    .row
      .col-offset-4.col-1.circle
    each t,i in posts
      if i % 9 === 0
        .row
          .col-4.prc-1
            +post(t).mt-30
          .col-3.prc-1
            if posts[i + 1]
              +post(posts[i + 1]).mt-8
          .col-5
            if posts[i + 2]
              +post(posts[i + 2])
        .row
          .col-5
            if posts[i + 3]
              +post(posts[i + 3]).mtn-3
          .col-3.plc-1
            if posts[i + 4]
              +post(posts[i + 4]).mt-30
          .col-4.plc-1
            if posts[i + 5]
              +post(posts[i + 5]).mt-3
        .row
          .col-4.prc-1
            if posts[i + 6]
              +post(posts[i + 6]).mt-20
          .col-5
            if posts[i + 7]
              +post(posts[i + 7]).mt-5
          .col-3.plc-1
            if posts[i + 8]
              +post(posts[i + 8]).mtn-5






