extends views/layouts/view
include views/components/circle
include views/components/img

block content
  - const { testimonial_quote,testimonial_name,testimonial_content, avatar: {url} } = htmlWebpackPlugin.options
  - let showdown  = require('showdown')
  - let converter = new showdown.Converter()
  - const html_content = converter.makeHtml(testimonial_content)
  section.testimonial-view.container.post(data-scroll data-scroll-section)
    .row.hidden.mt-m-5.mb-m-5
      +circle.circle--delayed.col-m-offset-1
    .row
      .col-1.col-m-4
        a.post_back-link.fade-in.mb-3(href="/temoignages.html") Retour
        +circle.circle--delayed.circle--in-col.hidden-m
      .col-offset-2.col-1
        span.quote-icon.text-callout.text-color--pink.fade-in “
      .col-7.col-m-4
        h1.post_header.text-callout(data-scroll)
          span.title-animation
            span.title-animation_content=testimonial_quote
    .row
      .col-offset-4.col-8.col-m-4
        p.post_date.fade-in=testimonial_name
    .row
      .post_content.col-offset-4.col-8.circle-canvas--top.col-m-offset-1.col-m-3
        .separator.separator--big
        .fade-in.indent-negative-m-3.rich-content
          !=html_content
        if url
          +img(url).img--width-auto
