extends views/layouts/view

block content
  - const { testimonial_quote,testimonial_name,testimonial_content, avatar: {url} } = htmlWebpackPlugin.options
  section.testimonial-view.container.post(data-scroll-section)
    .row
      .col-12
        a.post_back-link(href="/temoignages") Retour
    .row
      .col-1.circle.aligned-bottom
      .col-offset-2.col-1
        span.quote-icon.text-callout.text-color--pink “
      .col-6
        h1.post_header.text-callout=testimonial_quote
    .row
      .col-offset-4.col8
        p.post_date=testimonial_name
    .row
      .post_content.col-offset-4.col-8
        .separator.separator--big
        p=testimonial_content
        if url
          img.img-auto(src=url)
