// Declare fonts here
// Example:
//
//.text-capital {
//  font-family: Lato;
//  font-size: 14px;
//  color: var(--medium_grey);
//}

h1 {
  font-size: 120px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.text-lead {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

p, .text-paragrah {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
}

a {
  color: var(--dark);

  &, &:hover, &:focus {
    text-decoration: none;
  }
}

.text-italic {
  font-family: EBGaramond, "sans-serif";
  font-weight: normal;
  font-style: italic;
  letter-spacing: 1.08px;
  font-size: 1.1em;
}

.text-link {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.text-callout {
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.text-color {
  &--pink {
    color: var(--pink)
  }
}
