// Declare fonts here
// Example:
//
//.text-capital {
//  font-family: Lato;
//  font-size: 14px;
//  color: var(--medium_grey);
//}

h1, .text-h1 {
  font-size: calc(3vw + 48px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  span {
    line-height: 1em;
  }
}

h2, .text-callout {
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

h3, .text-h3 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h4, .text-h4 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.text-lead {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p, .text-paragraph {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
}

a {
  color: var(--dark);

  &, &:hover, &:focus {
    text-decoration: none;
  }
}

.text-italic {
  font-family: EBGaramond, "sans-serif";
  font-weight: normal;
  font-style: italic;
  letter-spacing: 1.08px;
  font-size: 1.1em;
  line-height: 1;
}

.text-link {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.text-color {
  &--pink {
    color: var(--pink)
  }

  &--white {
    color: white;
  }
}

.text-aligned {
  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }
}
