.aligned-bottom {
  vertical-align: bottom !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

$count: 40;

@include query-desktop {
  @for $i from 1 through $count {
    .mb-#{$i} {
      margin-bottom: #{$i}em;
    }
    .mt-#{$i} {
      margin-top: #{$i}em;
    }
    .mtn-#{$i} {
      margin-top: -#{$i}em;
    }
    .mr-#{$i} {
      margin-right: #{$i}em;
    }
    .ml-#{$i} {
      margin-left: #{$i}em;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}em;
    }
    .pt-#{$i} {
      padding-top: #{$i}em;
    }
    .pr-#{$i} {
      padding-right: #{$i}em;
    }
    .pl-#{$i} {
      padding-left: #{$i}em;
    }
    .prc-#{$i} {
      padding-right: #{$grid-gutter*$i};
    }
    .plc-#{$i} {
      padding-left: #{$grid-gutter*$i};
    }
  }
}

@include query-mobile {
  @for $i from 1 through $count {
    .mb-m-#{$i} {
      margin-bottom: #{$i}em;
    }
    .mt-m-#{$i} {
      margin-top: #{$i}em;
    }
    .mtn-m-#{$i} {
      margin-top: -#{$i}em;
    }
    .mr-m-#{$i} {
      margin-right: #{$i}em;
    }
    .ml-m-#{$i} {
      margin-left: #{$i}em;
    }
    .pb-m-#{$i} {
      padding-bottom: #{$i}em;
    }
    .pt-m-#{$i} {
      padding-top: #{$i}em;
    }
    .pr-m-#{$i} {
      padding-right: #{$i}em;
    }
    .pl-m-#{$i} {
      padding-left: #{$i}em;
    }
    .prc-m-#{$i} {
      padding-right: #{$grid-gutter*$i};
    }
    .plc-m-#{$i} {
      padding-left: #{$grid-gutter*$i};
    }
  }
}

@include query-desktop {
  .hidden {
    display: none !important;
  }
}

@include query-mobile {
  .hidden-m {
    display: none !important;
  }
}
