// Declare custom properties
// Example:
//
//:root {
//  --dark: #161616;
//}
//
//$acceleration: cubic-bezier(.9, 0, .1, 1);

:root {
  --dark: #141414;
  --beige: #c4c0b9;
  --light-grey: #f8f8f8;
  --yellow: #e9ff1d;
  --pink: #eed2cd;
}

$container-margin-y: 3em;
$grid-gutter: 25px;
$container-margin: $grid-gutter*2;
$mobile-width: 760px;
