// Declare custom properties
// Example:
//
//:root {
//  --dark: #161616;
//}
//
//$acceleration: cubic-bezier(.9, 0, .1, 1);
$dark: #141414;
$beige: #c4c0b9;
$light-grey: #f8f8f8;
$yellow: #e9ff1d;
$pink: #eed2cd;

:root {
  --dark: #{$dark};
  --beige: #{$beige};
  --light-grey: #{$light-grey};
  --yellow: #{$yellow};
  --pink: #{$pink};
  --darkmode-img-blend-mode: #afafaf;
}

$container-margin-y: 3em;
$grid-gutter: 25px;
$container-margin: $grid-gutter*2;
$mobile-width: 760px;
$img-hover-zoom: 1.05;
$card-hover-zoom: 1.02;
$card-hover-zoom-out: .98;
$z-index-cursor: 1000;
