// External libraries
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll.min.css';

// Variables
@import "vars";

// Mixins
@import "mixins/queries";

// Misc
@import "animations";
@import "darkmode";
@import 'fonts';
@import 'text';
@import "utilities";

// Components
@import "components/card";
@import "components/cards";
@import "components/circle";
@import "components/column";
@import "components/container";
@import "components/cursor";
@import "components/figure";
@import "components/footer";
@import "components/header";
@import "components/list";
@import "components/next-project-link";
@import "components/no_js";
@import "components/row";
@import "components/section";
@import "components/separator";
@import "components/socials";

// Views
@import "views/inspiration";
@import "views/page";
@import "views/post";
@import "views/testimonial";
