include ../../views/components/modal
- const { name } = htmlWebpackPlugin.options
doctype html
html(lang=locale)
  head
    title Rémi's Boilerplate
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content='')
    meta(property="og:url" content="")
    meta(property="og:website" content="website")
    meta(property="og:site_name" content="Rémi's Boilerplate")
    meta(property="og:locale" content="")
    meta(property="og:image:width" content="")
    meta(property="og:image:height" content="")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:url" content="")
    meta(name="twitter:title" content="")
    meta(name="twitter:description" content="")
    meta(name="twitter:image" content='')

    link(rel="icon" href="")
  body(class=name)
    include ../partials/no_js
    include ../partials/header

    main(data-scroll-container)
      block main
    +modal
    canvas.circle-canvas.circle-canvas--main
