extends layout
block main
  .debug-grid.container
    .row
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
  block content
  include ../partials/footer
