extends layout
block main
  .debug-grid-cta
  .debug-grid.container
    .row.hidden-m
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
    .row.hidden
      .col-m-1
      .col-m-1
      .col-m-1
      .col-m-1
  block content
  include ../partials/footer
