include ../components/card

mixin modal
  .modal
    .modal_close
    .modal_content
      .modal_card
        .modal_card_face.modal_card_face--front
        .modal_card_face.modal_card_face--back
    .modal_bg
