include img
mixin post(p)
  figure.figure(class=attributes.class)
    a.figure_link(href=p.page_link)
      if p.cover
        +img(p.cover.url).figure_img.img-auto
    figcaption
      p.figure_date=p.date
      h2.text-h3=p.title
